In [1]:
# for loop 
# example

web="aftab"
for i in web:
 print(i)

a
f
t
a
b

In [3]:
# using range function
# range end

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
# range (start,end)
for i in range(3,10):
    print(i)

3
4
5
6
7
8
9

In [5]:
# range(start,end,step)

for i in range (1,30,4):
    print(i)

1
5
9
13
17
21
25
29

In [6]:
# print horizontal values

for i in range(1,40):
    print(i,end=",")

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,

In [7]:

for i in range(1,20):
    print(i,end="/")

1/2/3/4/5/6/7/8/9/10/11/12/13/14/15/16/17/18/19/

In [8]:
# how to take user input in for loop 

start=int(input("enter start value:"))
end=int(input("enter end value:"))
for i in range (start,end):
    print(i,end="|")

56|57|58|59|60|61|62|63|64|65|66|67|68|69|70|71|72|73|74|75|76|77|78|79|80|81|82|83|84|85|86|87|88|89|90|91|92|93|94|

In [9]:
# how to print alphabets in for loop

for i in range(62,100):
    print(i)

62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [13]:

for i in range(65,91):
    print(chr(i),end="|")

A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|

In [18]:

for i in range(65,70):
    print(chr(i))

A
B
C
D
E

In [29]:
# while loop

i=1
while i<=15:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [34]:
#  break

for i in range(30):
    if i==30:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [37]:
for i in range(1,15):
    print(i*2,",",i*3,",",i*4)

2 , 3 , 4
4 , 6 , 8
6 , 9 , 12
8 , 12 , 16
10 , 15 , 20
12 , 18 , 24
14 , 21 , 28
16 , 24 , 32
18 , 27 , 36
20 , 30 , 40
22 , 33 , 44
24 , 36 , 48
26 , 39 , 52
28 , 42 , 56