In [1]:
# arithmetic operators

number1=int(input("enter number"))
number2=int(input("enter number"))
sum=number1+number2
substract=number1-number2
divide=number1//number2
multiply=number1*number2

print("number1:",number1)
print("number2:",number2)
print("sum:",sum)
print("substract:",substract)
print("divide:",divide)
print("multiply:",multiply)

number1: 185
number2: 52
sum: 237
substract: 133
divide: 3
multiply: 9620

In [3]:

number1=int(input("enter number"))
number2=int(input("enter number"))
sum=number1+number2
substract=number1-number2
divide=number1//number2
multiply=number1*number2

print("sum:",sum)
print("substract:",substract)
print("multiply:",multiply)

sum: 315
substract: 197
multiply: 15104

In [10]:
a=200
b=105
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
True
False
True

In [1]:
a,b,c,d,e =20,30,40,50,60
if a>b and a>c and a>d and a>e:
    print("a is largest")
elif b>a and b>c and b>d and b>d:
    print("b is largest")
elif c>a and c>b and c>d and c>e:
    print("c is largest")
elif d>a and d>b and d>c and d>e:
    print("d is largest")
elif e>a and e>b and e>c and e>d:
    print("e is largest")

e is largest

In [9]:
# membership operators 
# means the word include in the value of the assigned value 

name="welcome altaf"
print('f' in name)
print('f' not in name)

name="welcome khusboo" 
print('k' in name)
print('k'not in name)

True
False
True
False

In [ ]:
# assigned operators =

a=40
print(a)
a+=40
print(a)
a-=40
print(a)
a*=40
print(a)
a/=40
print(a)
a//=40
print(a)

40
80
40
1600
40.0
1.0

In [7]:
a=40+20-30
print(a)
a=40+30*20
print(a)
a=100
b=150
print(a*b)
print(b/a)
print(a==b)
print(a+b)
print(a-b)

30
640
15000
1.5
False
250
-50

In [11]:
# identity operators 

a=20
b=30

print(a is b)
print(a is not b)

a=20
b=50
c=60
print(a is c)
print(a is b)
print(a is not c)

False
True
False
False
True

In [12]:
# logical operators 
# and

print(42>45 and 89==89)
# or
print(42>45 and 89==89)
# not
print(not 52==52)

False
False
False

In [1]:
def add(x,y=10):
    return x+y
print(add(9))

19

In [2]:
def add(x=5,y=10):
    return x+y
print(add(9))

19

In [ ]:
def add(x=5):
    return x
print(add(9))

9

In [5]:
number=[2,7,9]
number.insert(2,5)
print(number)

[2, 7, 5, 9]

In [7]:
number=[2,7,9,10,50]
number.remove(50)
print(number)

[2, 7, 9, 10]

In [ ]:
nums = [1,2,3,4,5]
for num in nums:
    if num ==3:
        break
else:
    print("loop conpleted")

In [10]:
k = "120"
l = "-82"
result = int(k) * int(l)
print (result)

-9840

In [ ]:
x = 10
if x % 5 ==0:
    print("divisible")
else:
    print("not divisible")

divisible

In [13]:
fruits = ["apple","banana","watermelon"]
for i in range(len(fruits)):
    print(fruits[i][0])

a
b
w

In [16]:
a={1,2,3,4}
b=a.add(5)
print(b)

None

In [19]:
total = 0
for i in range(1,5):
    total+=  i
print(total)

10

In [2]:
a = {"y":10,"z":10}
print(a["z"]+5)

15

In [3]:
a = {"x":10,"y":20,"z":30}
print(a["z"]+20)

50

In [4]:
a="programing"
b=a[4:10]
print(b)

raming

In [5]:
a="defender"
b=a[3:8]
print(b)

ender

In [6]:
x=4
if x*2==20:
    print("match")
else:
    print("mismatch")

mismatch

In [1]:
r=5.6
area=22/7*r**2
print(area)

98.55999999999999

In [10]:
r=int(input("enter radius"))
area=22/7*r**2
print(area)

5283.142857142857

In [11]:
# area of rectangle

length=int(input("enter length"))
width=int(input("enter width"))
area=length*width
print(area)

4

In [12]:
# diameter 

d=2*r
print(d)

82

In [ ]:
# area of triangle 

base=int(input("enter base"))
height=int(input("enter height"))
area=1/2*base*height
print(area)

# area of square


side=int(input("enter side"))
area=side*side
print(area)

5.0
64