In [1]:
# function in python
# basic function

def greet():
    print("welcome to codes with aftab")
    print("this is a basic function")
greet()

welcome to codes with aftab
this is a basic function

# calling the function
greet()
greet()

In [9]:
# function with parameters (argument)

def addition(number1,number2,number3):
    result =number1+number2+number3
    print("result:",result)

In [7]:
addition(10,20,30)

result: 60

In [16]:
# example :

def bill(price,tax):
    tax_amount=price*tax/100
    total=price+tax_amount
    print("-----bill-----")
    print("price:",price)
    print("tax:",tax)
    print("tax amount:",tax_amount)
    print("total:",total)

In [17]:
bill(1500,19)
bill(2000,22)
bill(2500,25)

-----bill-----
price: 1500
tax: 19
tax amount: 285.0
total: 1785.0
-----bill-----
price: 2000
tax: 22
tax amount: 440.0
total: 2440.0
-----bill-----
price: 2500
tax: 25
tax amount: 625.0
total: 3125.0

In [18]:
bill(15000,2500)

-----bill-----
price: 15000
tax: 2500
tax amount: 375000.0
total: 390000.0

In [44]:
# function with return

def multiply(number1,number2):
    return number1 * number2
result = multiply(20,30)
print("result of multiplication is:", result)

result of multiplication is: 600

In [45]:
def mrp(price,tax):
    tax_amount=price*tax/100
    total=price+tax_amount
    return total
    
total_price=mrp(2000,20)
# before discount
print("total price before discount is:",total_price)
# add 5% discount
total_price-=total_price*0.05
print("total price after discount is:",total_price)

total price before discount is: 2400.0
total price after discount is: 2280.0

In [46]:
def mrp(price,tax):
    tax_amount=price*tax/100
    total=price+tax_amount
    print("-------invoice bill-------")
    print("price:",price)
    print("tax:",tax)
    print("tax amount:",tax_amount)

    return total
total_price=mrp(2000,20)
# before discount
print("total price before discount is:",total_price)
# add 5% discount
total_price-=total_price*0.05
print("total price after discount is:",total_price)

-------invoice bill-------
price: 2000
tax: 20
tax amount: 400.0
total price before discount is: 2400.0
total price after discount is: 2280.0

In [53]:
# list in python

#int type list
int_list = [1, 2, 3, 4, 5]
#float type list
float_list = [1.1, 2.2, 3.3, 4.4, 5.5]
#string type list
fruits_list =( ["apple", "banana", "cherry", "date", "elderberry"])
#mixed type list
mixed_list = [1, 2.2, "three", "four", 5]

In [54]:
print(int_list)

[1, 2, 3, 4, 5]

In [55]:
print(float_list)

[1.1, 2.2, 3.3, 4.4, 5.5]

In [56]:
print(string_list)

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [57]:
print(fruits_list)

['apple', 'banana', 'cherry', 'date', 'elderberry']