In [1]:
print("'the advertisement'")
print("welcome to windows")

'the advertisement'
welcome to windows

In [2]:
a = 412356
b = 578941
c = 7899+5421-220

print(c)

13100

In [4]:
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz

In [5]:
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz

In [6]:
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz

In [ ]:
print("abcdefghijklmnopqrsttuvwxyz")

abcdefghijklmnopqrsttuvwxyz

In [8]:
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz

In [ ]:
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")
print("abcdefghijklmnopqrstuvwxyz")

abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz
abcdefghijklmnopqrstuvwxyz

In [10]:
print("1234587962145")

1234587962145

In [13]:
print(45689*145687+458412-7854*4561)

6620929661

In [14]:
print(330/600*100)

55.00000000000001

In [15]:
print(371/600*100)
print(347/600*100)

61.83333333333333
57.833333333333336

In [18]:
a = 4568*89
b = 4896+230
c = 789-452
d = 789/203
print(a,b,c,d)

406552 5126 337 3.8866995073891624

In [28]:
raj=371
ashvin=347
aftab=330
print("aftab number=",aftab)

aftab number= 330

In [30]:
print("raj number:",raj)

raj number: 371

In [31]:
print(type(aftab))

<class 'int'>

In [32]:
a= [10,20,30,40,50]
for i in a:
    a.remove(i)
    print(a)

[20, 30, 40, 50]
[20, 40, 50]
[20, 40]

In [33]:
def factorial(n):
    if n==0:
        return 1
    return n * factorial(n-1)
print(factorial(5))

120

In [44]:
a=[1,2,3,4,5]
if sum==0:
    for ele in a:
        sum +=ele
print(sum)

<built-in function sum>

In [1]:
data = 10
print(data)

10

In [2]:
a="joy"
b="hello"
print(b)

hello

In [3]:
data={23,45,78,26}
print(data)

{26, 45, 78, 23}

In [4]:
a={12,56,23,89}
print(type(data))
b="codes with aftab"
print(type(data))
c=44.459
print(type(data))

<class 'set'>
<class 'set'>
<class 'set'>

In [6]:
data=5.6
print(type(data))
data="joy"
data={23,89,45,46}
print(type(data))
print(type(data))
data=(23,89,45,20)
print(type(data))
data=23,78,56,89
print(type(data))

data={78*23}
print(data)

<class 'float'>
<class 'set'>
<class 'set'>
<class 'tuple'>
<class 'tuple'>
{1794}

In [13]:
data={"name":"raj"}

 
print(type(data))

<class 'dict'>

In [15]:
# how to take user input
# input()

name=input("enter your name")
height=input("enter your height")
age=input("enter your age")
location=input("enter your location")

print("your nameis",name)
print("your age is",height)
print("your age is",age)
print("your location is",location)

your nameis aftab
your age is 5.5
your age is 20
your location is vasai

In [ ]:
#  type conversion
# int()
# float()
# str()

name=input("enter name")
eng=int(input("enter eng marks"))
maths=int(input("enter  maths marks"))
history=int(input("enter history marks"))
science=int(input("enter science marks"))
total=eng+maths+history+science

print("eng:",eng)
print("maths:",maths)
print("history:",history)
print("science:",science)
print("total marks is:",total)

eng: 56
maths: 80
history: 69
science: 59
total marks is: 264

In [22]:

name=input("employee name")
basic=int(input("enter basic"))
da=int(input("enter da"))
health_allowance=int(input("enter health allowance"))
pf=int(input("enter pf"))
total =basic+da+health_allowance+pf

print("employee name:",name)
print("basic:",basic)
print("da:",da)
print("pf:",pf)
print("health allowance:",health_allowance)
print("total salary is:",total)

employee name: aftab
basic: 18000
da: 2000
pf: 3000
health allowance: 1000
total salary is: 24000

In [4]:

name=input("enter name")
eng=int(input("enter eng marks"))
maths=int(input("enter  maths marks"))
history=int(input("enter history marks"))
science=int(input("enter science marks"))
total=eng+maths+history+science
print("your name is:",name)
print("eng:",eng)
print("maths:",maths)
print("history:",history)
print("science:",science)
print("total masrks is:",total)

your name is: altaf
eng: 56
maths: 80
history: 69
science: 72
total masrks is: 277

In [5]:
name=input("employee name")
basic=int(input("enter basic"))
da=int(input("enter da"))
health_allowance=int(input("enter health_allowance"))
gross_salary=basic+da+health_allowance
pf=int(input("enter pf"))
net_salary=basic+da+health_allowance-pf

print("employee name:",name)
print("basic:",basic)
print("da:",da)
print("health_allowance:",health_allowance)
print("gross_salary:",gross_salary)
print("pf:",pf)
print("net_salary:",net_salary)

employee name: raj
basic: 20000
da: 2000
health_allowance: 1000
gross_salary: 23000
pf: 2000
net_salary: 21000

In [6]:
name=input("employee name")
employee_id=int(input("enter emplyee_id"))
date_of_join=(input("enter date_of_join"))
basic=int(input("enter basic"))
da=int(input("enter da"))
health_allowance=int(input("enter health_allowance"))
gross_salary=basic+da+health_allowance
pf=int(input("enter pf"))
net_salary=basic+da+health_allowance-pf


print("employee name:",name)
print("employee_id:",employee_id)
print("date_of_join:",date_of_join)
print("basic:",basic)
print("da:",da)
print("health_allowance:",health_allowance)
print("gross_salary:",gross_salary)
print("pf:",pf)
print("net_salary:",net_salary)

employee name: affuuu
employee_id: 102
date_of_join: 02/07/2025
basic: 25000
da: 2000
health_allowance: 1000
gross_salary: 28000
pf: 2000
net_salary: 26000